* {
  box-sizing: border-box;
  font-family:'Courier New';
}
#outer-banner {
  background-image: url("./assets/webbanner.jpg");
  background-size: cover;
  width: 100%;
  padding-bottom: 80%;
}

.project-section {
  display: grid;
  grid-column: 3;
  margin-top: 5px;
  padding: 15px;
  min-height: fit-content;
  min-width: fit-content;
  overflow: hidden;
}

.project {
  padding-right: 15px;
}

.project-section article {
  flex-direction: column;
  flex: 200px;
}

#content-section {
  margin-top: 5px;
  padding: 15px;
  min-height: fit-content;
  min-width: fit-content;
  overflow: hidden;
}


.img-section {
  width: auto;
  height: auto;
}

.form-card {
  float: left;
  width: 50%;
  margin: auto;
  padding: 15px;
  text-align: center;
  color: black;
  height: 60vh;
}

footer {
  position: relative;
  height: fit-content;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(0, 0, 0);
}

.footer-section {
  margin: auto;
  float: left;
  width: 33%;
  height: fit-content;
  text-align: center;
}

h1, h3, h4, h5 {
  text-align: center;
  padding-bottom: 15px;
}

p {
  display: inline-block;
}
