* {
  box-sizing: border-box;
}
#outer-banner {
  background-image: url("./assets/images/webbanner.jpg");
  background-size: cover;

  /* size of th background image will cover the entire div, size of the div is different. background size is on the inside */ 
  width: 10vh;
  height: 59vh;
  padding-bottom: 80%;
}